.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main {
  position: relative;
}

.dashboard {
  padding: 40px 20px;
  background-color: #8876dc;
  color: #fff;
  border-radius: 20px;
  margin: 30px;
}

.radioGroup {
  display: flex;
  flex-wrap: nowrap;
  border: 1.6px solid #dde1e6;
  background-color: #eff1f4;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 2px;
}

.searchBox {
  margin: 20px 0;
}

button {
  background-color: #8876dc;
  color: #ffffff;
  border: none;
  text-align: center;
  border-radius: 0.75rem;
}

.button-md {
  width: 100px;
  font-size: 12px;
  padding: 12px 4px;
}

.button-icon-left {
  margin-right: 8px;
}

.button-sm {
  padding: 10px;
  border-radius: 0.4rem;
}

.button-transparent {
  background-color: #ffffff;
  color: #323b49;
  border: 1.6px solid #dde1e6;
}

.footer-wrapper {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  justify-content: flex-end;
  padding: 52px 27px;
  background: linear-gradient(
    360deg,
    #ffffff 58.87%,
    rgba(255, 255, 255, 0) 104.13%
  );
}

.footer-wrapper > button:first-child {
  margin-right: 10px;
}
