.logo {
  width: 300px;
  height: 300px;
  background-color: #8876dc;
  border-radius: 50px;
  margin: 0 auto;
}

.container {
  margin: 50px;
}

.heading {
  margin: 70px;
  font-size: 2.4rem;
}

.button {
  margin-top: 70px;
  width: 368px;
  font-size: 15px;
  font-weight: 700;
  padding: 16px 26px;
}

.input-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 30px;
}

input {
  padding: 16px;
  background-color: #edf2f7;
  color: #1a202c;
  border: none;
  border-radius: 0.75rem;
  font-size: 20px;
  margin-top: 8px;
}

input::placeholder {
  font-size: 18px;
}

button {
  background-color: #8876dc;
  color: #ffffff;
  border: none;
  text-align: center;
  border-radius: 0.75rem;
}

.button-icon {
  float: right;
}
