.radio {
  position: absolute;
  opacity: 0;
  z-index: -1000;
}

.radio:checked + label {
  color: #8876dc;
  font-weight: 600;
  background: #fff;
  border: 1.6px solid #dde1e6;
  border-radius: 12px;
  width: 50%;
  z-index: 3;
  padding: 6px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio:focus + label,
.radio:focus-visible + label {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.radio:focus:not(:focus-visible) + label {
  outline: none;
  box-shadow: none;
}

.radio:disabled + label {
  color: rgba(204, 204, 220, 0.6);
  cursor: not-allowed;
}

.radioLabel {
  position: relative;
  font-size: 20px;
  width: 50%;
  line-height: 20px;
  color: #5f6a79;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  flex: 1 0 0;
  text-align: center;
  user-select: none;
  white-space: nowrap;
}
/* 
@media screen and (max-width: 600px) {
    .radioLabel {
        width: 38.92%;
    }

    .radio:checked + label {
        width: 54%;
    }
} */
