.radio {
  position: absolute;
  opacity: 0;
  z-index: -1000;
}

.radio:checked + label {
  color: #8876dc;
  font-weight: 600;
  background: #fff;
  border: 1.6px solid #dde1e6;
  border-radius: 12px;;
  width: 53%;
  z-index: 3;
}

.radio:focus + label,
.radio:focus-visible + label {
  outline: "2px dotted transparent";
  outline-offset: "2px";
  box-shadow: "0 0 0 2px #111217, 0 0 0px 4px #181b1f";
  transition: "all 0.2s cubic-bezier(0.19, 1, 0.22, 1)";
}

.radio:focus:not(:focus-visible) + label {
  outline: "none";
  box-shadow: "none";
}

.radio:disabled + label {
  color: rgba(204, 204, 220, 0.6);
  cursor: not-allowed;
}

.radioLabel {
  display: inline-block;
  position: relative;
  font-size: 20px;
  width: 41%;
  height: 20px;
  line-height: 20px;
  color: #5f6a79;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  flex: "1 0 0";
  text-align: center;
  user-select: none;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
    .radioLabel {
        width: 38.92%;
    }

    .radio:checked + label {
        width: 54%;
    }
}
